# Node & PHP dependencies
/node_modules
/vendor

# Laravel specific
/.phpunit.cache
/.phpunit.result.cache
/public/build
/public/hot
/public/storage
/storage/*.key

# Environment files
.env
.env.backup
.env.production

# Composer files
auth.json
composer-setup.php
composer.phar

# Logs & debug
npm-debug.log
yarn-error.log

# IDE / Editor folders
/.fleet
/.idea
/.vscode

# Homestead
Homestead.json
Homestead.yaml

# Code coverage
coverage/

# Custom static files (exclude from versioning)
/resources/js/auth/Locales/id.json
/resources/static/images/app-background.png
/resources/static/images/company-logo.png
/resources/static/images/company-slogan.png

# Save files (ignore file, folder, or extension .save)
.save
.save/
*.save
**/.save
