# Laravel-specific
/vendor
/.phpunit.result.cache
/.phpunit.cache
/storage/*.key
.env
.env.backup
.env.production

# Laravel Homestead
Homestead.json
Homestead.yaml

# Composer
composer.phar
composer-setup.php
auth.json

# Node / NPM / Yarn
/node_modules
npm-debug.log
yarn-error.log

# Vite / Webpack / Frontend build
/public/build
/public/hot
/public/storage

# Coverage / Test reports
coverage/

# IDE / Editor settings
/.idea
/.vscode
/.fleet

# Custom app static files (private or generated)
resources/js/auth/Locales/id.json
resources/static/images/*.png
