:root{
    --app-main-bg: #cc0202;
    --app-second-bg: #a70000;
    --app-main-txt: #ffffff;
    --app-second-txt: #DDDDDD;
    --app-warning-txt:#fcef98;
}

.bg-app-primary {
    --bs-bg-opacity: 1;
    background-color: var(--app-main-bg)!important;
}
.bg-app-secondary {
    background-color: var(--app-second-bg)!important;
}
.text-app-primary {
    color:var(--app-main-txt)!important;
}
.text-app-secondary {
    color:var(--app-second-txt)!important;
}
.text-app-warning {
    color:var(--app-warning-txt)!important;
}
.btn-app-rounded {
    --bs-btn-color: var(--aviat-main-txt)!important;
    --bs-btn-bg: var(--aviat-second-bg)!important;
    --bs-btn-border-color: var(--aviat-second-bg)!important;
    --bs-btn-hover-color: var(--aviat-main-txt);
    --bs-btn-hover-bg: #910202!important;
    --bs-btn-hover-border-color: #910202!important;
    --bs-btn-focus-shadow-rgb: 45, 94, 167;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #910202!important;
    --bs-btn-active-border-color: #910202!important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #910202!important;
    --bs-btn-disabled-border-color: #910202!important;
    border-radius: 100px!important;
  }