/* Perubahan brand logo dan warna app */
:root {
    --app-main-bg: #cc0202;
    --app-second-bg: #a70000;
    --app-additional-bg: #910202;
    --app-main-txt: #ffffff;
    --app-second-txt: #dddddd;
    --app-warning-txt: #fcef98;
    --background-src: url("../static/images/app-background.png");
    --logo-src: url("../static/images/aviat-logo.png");
    --company-slogan-src: url("../static/images/company-slogan.png");
    --company-logo-src: url("../static/images/aviat-white-logo.png");
}

/* nama class tidak perlu di ubah, cukup ubah variable nya */
#logo {
    display: block;
    content: var(--logo-src);
    width: 95px;
}
#company-logo {
    display: block;
    content: var(--company-logo-src);
    width: auto;
    height: 95px;
}
.bg-app-primary {
    --bs-bg-opacity: 1;
    background-image: var(--background-src);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--app-main-bg) !important;
}

.company-slogan {
    display: block;
    content: var(--company-slogan-src);
    width: auto;
    height: 95px;
}

.bg-app-secondary {
    background-color: var(--app-second-bg) !important;
}
.text-app-primary {
    color: var(--app-main-txt) !important;
}
.text-app-secondary {
    color: var(--app-second-txt) !important;
}
.text-app-warning {
    color: var(--app-warning-txt) !important;
}
.btn-app-rounded {
    --bs-btn-color: var(--aviat-main-txt) !important;
    --bs-btn-bg: var(--aviat-second-bg) !important;
    --bs-btn-border-color: var(--aviat-second-bg) !important;
    --bs-btn-hover-color: var(--aviat-main-txt);
    --bs-btn-hover-bg: var(--app-additional-bg) !important;
    --bs-btn-hover-border-color: var(--app-additional-bg) !important;
    --bs-btn-focus-shadow-rgb: 45, 94, 167;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--app-additional-bg) !important;
    --bs-btn-active-border-color: var(--app-additional-bg) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--app-additional-bg) !important;
    --bs-btn-disabled-border-color: var(--app-additional-bg) !important;
    border-radius: 100px !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

@media (max-width: 480px) {
    main {
        width: 480px;
        min-height: 120vh;
    }

    main > div > nav {
        width: 480px;
    }

    main > div > div.header {
        width: 480px;
    }

    main > div > div > div.header {
        width: 480px;
    }
}

@media (max-width: 480px) and (min-width: 375px) {
    main > div > nav {
        width: 100%;
    }

    main > div > div > div.header {
        width: 100%;
    }
}

@media (min-width: 481px) {
    main {
        width: 393px;
        min-height: 100vh;
    }
}
